DATABASE_URL=postgresql://jambo:D4r0RAh1nnpSSSFyX7g5Z2urVoYwYi15@dpg-d0sss13e5dus73bitos0-a.oregon-postgres.render.com/kitchen_db_xw0g
REDIS_URL=redis://...
SECRET_KEY=supersecret
JWT_ALGORITHM=HS256
